<mat-nav-list>
  <mat-list-item>
    <mat-icon mat-list-icon>home</mat-icon>
    <h4 mat-line *ngIf="isExpandedSideNav">Home</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>face</mat-icon>
    <h4 mat-line *ngIf="isExpandedSideNav">Kids</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line *ngIf="isExpandedSideNav">A</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line *ngIf="isExpandedSideNav">B</h4>
  </mat-list-item>
</mat-nav-list>

