<div class="app-content">
  <form class="form-main" [formGroup]="applicationForm">
    <div>{{application.childName}}</div>
    <div>Soknad om barnehageplass</div>
    <div>{{application.childAddress}}</div>
    <div>Foresatte: {{application.motherName}} Mor og {{application.fatherName}} Far</div>
    <!--<div class="form-group">
    <label for="language">Daglig språk i hjemmet</label>
    <div class="fld-val">
      <select class="form-control" id="language" formControlName="language">
        <option>Norsk</option>
        <option>English</option>
      </select>
    </div>
  </div>-->
    <!--<mat-form-field>
      <mat-label>Daglig språk i hjemmet</mat-label>
      <mat-select (change)="onLanguageSelection($event.value)">
        <mat-option *ngFor="let lan of languages" [value]="lan.value">{{lan.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>-->

    <mat-form-field>
      <!--<mat-label>Daglig språk i hjemmet</mat-label>-->
      <mat-select (selectionChange)="selected($event)" formControlName="languageId">
        <mat-option *ngFor="let lan of languages" [value]="lan.value">
          {{ lan.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="isVisible">
      <mat-label>Level of Spoken Norwegian</mat-label><br>
      <mat-button-toggle-group name="NorwegianLevel" aria-label="Font Style" formControlName="levelOfLanguage">
        <mat-button-toggle value="bold">Fluent</mat-button-toggle>
        <mat-button-toggle value="italic">Medium</mat-button-toggle>
        <mat-button-toggle value="underline">Low</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </form>
  </div>


