<div class="app-content">
  <form class="form-main" [formGroup]="applicationForm">
    <div class="form-group">
      <div>{{application.child.firstName}} {{application.child.lastName}}</div>
      <div>Soknad om barnehageplass</div>
      <div>{{application.child.address}}</div>
      <div>Foresatte: {{application.mother.firstName}} Mor og {{application.father.firstName}} Far</div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="language">Daglig språk i hjemmet</label>
          <div class="fld-val">
            <select class="form-control Rectangle-57" id="firstLanguage" (change)="selectedLanguage(selectedValue)" formControlName="firstLanguage" [(ngModel)]="selectedValue">
              <option *ngFor="let lan of languages" [value]="lan.value">{{ lan.viewValue }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div *ngIf="isVisible" class="form-group">
          <label for="option1">Level of Spoken Norwegian</label><br />
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [ngClass]="{active: applicationForm.controls.levelOfSpoken.value == 'Fluent'}">
              <input type="radio" value="Fluent" name="levelOfSpoken" formControlName="levelOfSpoken" id="option1"  > Fluent
            </label>
            <label class="btn btn-outline-secondary" [ngClass]="{active: applicationForm.controls.levelOfSpoken.value == 'Medium'}">
              <input type="radio" value="Medium" name="levelOfSpoken" formControlName="levelOfSpoken" id="option2"> Medium
            </label>
            <label class="btn btn-outline-secondary" [ngClass]="{active: applicationForm.controls.levelOfSpoken.value == 'Low'}">
              <input type="radio" value="Low" name="levelOfSpoken" formControlName="levelOfSpoken" id="option3"> Low
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="reducedFee">Samtykke til å søke om redusert foreldrebetaling</label><br>
      <div class="btn-group btn-group-toggle" data-toggle="buttons" >  <!--(click)="onReducedFeeButtonGroupClick($event)"-->
        <label class="btn btn-outline-secondary" [ngClass]="{active: applicationForm.controls.reducedFee.value == false}">
          <input type="radio" value="false" name="reducedFee" id="option1" formControlName="reducedFee" checked> Nei
        </label>
        <label class="btn btn-outline-secondary" [ngClass]="{active: applicationForm.controls.reducedFee.value == true}">
          <input type="radio" value="true" name="reducedFee" id="option2" formControlName="reducedFee" > Ja
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="specialReqs">Andre relevante opplysninger?</label><br />
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary" [ngClass]="{active: spec.isSelected}" *ngFor="let spec of specialRequirements" style="margin-right: 7px;">
          <input type="checkbox" value="spec.specialRequirementId" autocomplete="off"> {{spec.name}}
        </label>
        <!--<label class="btn btn-outline-secondary" style="margin-right: 7px;">
          <input type="checkbox" value="2" autocomplete="off"> Illiness in family
        </label>-->
      </div>
    </div>
    <div class="form-group">
      <label for="reducedFee">Choose different days in odd and even weeks?</label><br>
      <div class="btn-group btn-group-toggle" data-toggle="buttons" (click)="onDaysButtonGroupClick($event)">  
        <label class="btn btn-outline-secondary" [ngClass]="{active: applicationForm.controls.kindergartenDays.value == false}">
          <input type="radio" value="false" name="kindergartenDays" id="option1" formControlName="kindergartenDays"  autocomplete="off"> Nei
        </label>
        <label class="btn btn-outline-secondary" [ngClass]="{active: applicationForm.controls.kindergartenDays.value == true}">
          <input type="radio" value="true" name="kindergartenDays" id="option2" formControlName="kindergartenDays"  autocomplete="off"> Ja
        </label>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="week-day-selector">
              <div [ngClass]="(d.isSeleted)?'w-days':'w-days-notselected'" *ngFor="let d of oddWeekDays" style="margin-right: 7px;"
                   (click)='OddCalcCoverage(d)'>
                {{d.day}}
              </div>
            </div>
            <label for="reducedFee">Chosen days: Monday, Wednesday and Thursday</label><br>
            <label for="reducedFee">Kindergarten Coverage: {{application.kindergartenCoverage}}%</label><br>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" *ngIf="isSelectedEvenDays">
            <div class="week-day-selector">
              <div [ngClass]="(d.isSeleted)?'w-days':'w-days-notselected'" *ngFor="let d of evenWeekDays" style="margin-right: 7px;"
                   (click)='EvenCalcCoverage(d)'>
                {{d.day}}
              </div>
            </div>
            <label for="reducedFee">Chosen days: Monday, Wednesday and Thursday</label><br>
          </div>
        </div>

      </div>
     </div>
</form>
  </div>


