<div class="app-content">
  <form class="form-main" [formGroup]="applicationForm">
    <div>{{application.childName}}</div>
    <div>Soknad om barnehageplass</div>
    <div>{{application.childAddress}}</div>
    <div>Foresatte: {{application.motherName}} Mor og {{application.fatherName}} Far</div>
    <mat-form-field>
      <mat-label>Daglig språk i hjemmet</mat-label>
      <mat-select class="Rectangle-57" (selectionChange)="selected($event)" formControlName="homeLanguage" [(ngModel)]="selectedValue">
        <mat-option *ngFor="let lan of languages" [value]="lan">
          {{ lan.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="isVisible">
      <mat-label>Level of Spoken Norwegian</mat-label><br>
      <mat-button-toggle-group name="levelOfSpoken" aria-label="Font Style" formControlName="levelOfSpoken">
        <mat-button-toggle value="Fluent">Fluent</mat-button-toggle>
        <mat-button-toggle value="Medium">Medium</mat-button-toggle>
        <mat-button-toggle value="Low">Low</mat-button-toggle>
      </mat-button-toggle-group>
    </div><br />
    <div>
      <mat-label>Samtykke til å søke om redusert foreldrebetaling</mat-label><br>
      <mat-button-toggle-group name="reducedFee" aria-label="Font Style" formControlName="reducedFee">
        <mat-button-toggle value="Nei">Nei</mat-button-toggle>
        <mat-button-toggle value="Ja">Ja</mat-button-toggle>
      </mat-button-toggle-group>
    </div><br />
    <div layout="row" flex>
      <mat-label>Andre relevante opplysninger?</mat-label>
      <div>
        <button mat-button class="md-raised">
          Disabilities
        </button>
        <button mat-button class="md-raised">
          Language
        </button>
        <button mat-button class="md-raised">
          Illiness in family
        </button>
        <button mat-button class="md-raised">
          Low income
        </button>
      </div>
    </div>
  </form>
  </div>


