/* responsive */
@media screen and (max-width: 1280px) {
  .app-content {
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1180px) {
  .app-content {
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .app-content {
    width: 600px;
    margin: 0 auto;
  }

  .section-login {
    width: 100vw;
  }
}

@media screen and (max-width: 760px) {
  .app-content {
    width: unset;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .app-content {
    width: unset;
    margin: 0 auto;
  }
}
